@media all and (max-width: 1700px) {

    .leftPanel {
        display: none;
        visibility: hidden;
    }

    .main-container {
        width: 100%;
    }
}

@media all and (max-height: 600px) {

    .leftPanel {
        display: none;
        visibility: hidden;
    }
}