* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* increate the width of the main part*/
/* .main-container {
  max-width: 1080px !important;
  margin: auto;
} */

/* remove the default list format */

ul,
ol {
    list-style: none;
}

/* remove the underline of a tag and set color */
a {
    text-decoration: none;
    color: #333;
}

/* set img vertical align */
img {
    /*vertical-align: middle;*/
    margin-left: auto;
    margin-right: auto;
}

/* folat left */
.fl {
    float: left;
}

/* float right */
.fr {
    float: right;
}

/* clear float with pseudo element */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}